/* home.css */
.home-background {
  background-image: url(/static/images/test1.svg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: 100%;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .home-background {
    background-size: 150%; /* 你可以根据需要调整这个缩放比例 */
  }
}

/* md 视图，通常对应屏幕宽度 >= 768px */
@media (min-width: 768px) {
  .home-background {
    background-size: 110%;
  }
}

/* lg 视图，通常对应屏幕宽度 >= 1024px */
@media (min-width: 1024px) {
  .home-background {
    background-size: 100%;
  }
}

.glowing-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

.glowing-text {
  font-size: 60px;
  color: #fff;
  animation: glow 3s ease-in-out infinite alternate;
}

.grid .bento {
  grid-area: var(--lg);
}

@media (max-width: 1023px) {
  .grid .bento {
    grid-area: var(--sm);
  }
}
