@font-face {
  font-family: 'roadrage'; /* 自定义字体名称 */
  src: url('/fonts/Road_Rage.otf') format('truetype'); /* 字体文件路径 */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 确保字体加载时不会阻塞页面渲染 */
}
